<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(@employee) do |f| %>
        <% if @employee.errors.any? %>
          <div id="error_explan ation">
            <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

            <ul>
            <% @employee.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label "Nombre" %><br>
          <%= f.text_field :nombre, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Apellido Paterno" %><br>
          <%= f.text_field :paterno, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Apellido Materno" %><br>
          <%= f.text_field :materno, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "RFC" %><br>
          <%= f.text_field :rfc, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Fecha de nacimiento (aaaa/mm/dd)" %><br>
          <%= f.text_field :fecha_nac, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :sexo %><br>
          <%= f.text_field :sexo, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :calle %><br>
          <%= f.text_field :calle, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Número" %><br>
          <%= f.text_field :numero, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :colonia %><br>
          <%= f.text_field :colonia, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Código Postal" %><br>
          <%= f.text_field :codigo_p, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :municipio %><br>
          <%= f.text_field :municipio, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :estado %><br>
          <%= f.text_field :estado, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Teléfono" %><br>
          <%= f.text_field :tel, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Email" %><br>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Área" %><br>
          <%= f.text_field :area, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :cargo %><br>
          <%= f.text_field :cargo, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :usuario %><br>
          <%= f.text_field :usuario, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Contraseña" %><br>
          <%= f.text_field :contra, class: 'form-control' %>
        </div>
        <div class="actions">
          <%= link_to 'Atrás', employees_path, class: 'btn btn-danger' %>
          <%= f.submit "Guardar", class: 'btn btn-primary' %>

        </div>
      <% end %>
        <br>
        <br>
        <br>
        <br>
    </div>
  </div>
</div>
