<p id="notice"><%= notice %></p>
<div class="container">
  <h2>Listado de Empleados</h2>
  <br>
  <br>
  <br>
  <br>

  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>Nombre(s)</th>
        <th>Paterno</th>
        <th>Materno</th>
        <th>RFC</th>
        <th>Área</th>
        <th>Cargo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.nombre %></td>
          <td><%= employee.paterno %></td>
          <td><%= employee.materno %></td>
          <td><%= employee.rfc %></td>
          <td><%= employee.area %></td>
          <td><%= employee.cargo %></td>
          <td><%= link_to 'Mostrar', employee, class: "btn btn-info" %></td>
          <td><%= link_to 'Editar', edit_employee_path(employee), class: "btn btn-success" %></td>
          <td><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: '¿Esta usted seguro?' }, class: "btn btn-danger"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Registrar nuevo empleado', new_employee_path, class: "btn btn-primary"%>

</div>
