<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Siged1</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/header'%>

    <% if !flash.empty? %>
    <div class="alert alert-info">
      <ul>
        <% flash.each do |key, value|%>
          <li><%= value %></li>
        <% end %>
      </ul>
    </div>
    <% end %>



    <%= yield %>
  </body>
  <footer>
    <div>
      <small>Desarrollado por DesSoftMex 2017</small>
    </div>
  </footer>
</html>
